<template>
    <lightning-card title="LWC Home Header Bar">
        <div class="demo-only">
            <div class="slds-media">
                <div class="slds-media__figure">
                    <lightning-icon icon-name="standard:data_integration_hub" alternative-text="Integration Hub" 
                                    title="Neural Network" size="large">
                    </lightning-icon>
                </div>
                <div class="slds-media__body">
                    Lightning Web Components uses core Web Components standards and provides only what’s necessary to perform well in browsers supported by Salesforce. Because it’s built on code that runs natively in browsers, Lightning Web Components is lightweight and delivers exceptional performance. Most of the code you write is standard JavaScript and HTML.<br/>

                    Click <a href="https://developer.salesforce.com/docs/component-library/documentation/en/lwc" target="_blank">here</a> to go to LWC documentation.
                </div>
            </div>
        </div>
    </lightning-card>
</template>